@import url("https://api.fontshare.com/v2/css?f[]=bespoke-sans@300,400,500,700,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

.whatICanDo {
  color: white;
  padding-left: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.whatICanDo p {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "Bespoke Sans";
  letter-spacing: 0.05rem;
  color: #6b6560;
  font-weight: 600;
  margin: 10rem 0 0 0;
}

.experties {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 29vw;
  padding-top: 5rem;
}

.experties h1 {
  font-family: "Satoshi";
  font-size: 5rem;
  margin: 0;
  line-height: 1.1;
  transition: color 0.3s ease;
  cursor: pointer;
}

.experties:hover h1 {
  color: #292929;
}

.experties h1:hover {
  color: white;
}
