@import url("https://api.fontshare.com/v2/css?f[]=bespoke-sans@300,400,500,700,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");

.whatICanDo {
  color: white;
  padding-left: 3rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
}

.whatICanDo p {
  font-size: 1.2rem;
  text-transform: uppercase;
  font-family: "Bespoke Sans";
  letter-spacing: 0.05rem;
  color: #6b6560;
  font-weight: 600;
  margin: 10rem 0 0 0;
}

.expertise {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  margin-left: 25vw;
  padding-top: 5rem;
}

.roll-heading {
  position: relative;
  height: 4.5rem;
  overflow: hidden;
  perspective: 1200px;
}

.roll-heading span {
  position: absolute;
  inset: 0;

  display: flex;
  align-items: center;

  font-family: "Satoshi";
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.1;

  transform-origin: center center;
  backface-visibility: hidden;
  will-change: transform;
}

.front {
  color: white;
}

.back {
  color: white;
}

.expertise:hover .roll-heading .front,
.expertise:hover .roll-heading .back {
  color: #292929;
  transition: color 0.3s ease;
}

.expertise .roll-heading:hover .front,
.expertise .roll-heading:hover .back {
  color: white;
}
