@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=supreme@300,400,500,700,900&display=swap");

.AboutLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.resume-btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3.5px solid #000000;
  border-radius: 999px;
  height: 3rem;
  width: 10rem;
  background: transparent;
  font-size: 1rem;
  font-family: "Satoshi";
  overflow: hidden;
  cursor: pointer;
  transition: color 0.3s ease;
}

.resume-btn::before {
  content: "";
  position: absolute;
  inset: 0;
  background: #000000;

  transform: scaleY(0);
  transform-origin: bottom;

  transition: transform 0.3s ease;
}

.resume-btn span {
  position: relative;
  z-index: 1;
}

.resume-btn:hover::before {
  transform: scaleY(1);
}

.resume-btn:hover {
  color: #f2f0ef;
}

.eyebrow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  margin-top: 5vh;
}

.eyebrow span {
  color: #6b6560;
  font-family: "supreme";
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 0.05rem;
}

.about-links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 50%;
  margin-top: 3.5vh;
}

.social-link {
  text-decoration: none;
}

.links-wrapper {
  position: relative;
  height: auto;
  display: flex;
  align-items: center;
  cursor: pointer;
  overflow: visible;
  transition: transform 0.3s ease;
}

.links-wrapper {
  transform: scale(1.1);
}

.link {
  display: block;
  width: auto;
  height: auto;
  transition: transform 0.3s ease;
}

.link:hover {
  transform: scale(1.1);
}

.github-link .link {
  height: 35px;
}

.linkedIn-link .link {
  height: 45px;
}

.mail-link .link {
  height: 70px;
}
