@import url("https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=tanker@400&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=bespoke-stencil@300,400,500,700,800&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=supreme@300,400,500,700,800&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=azeret-mono@300,400,500,700,900&display=swwap");

.intro {
  box-sizing: border-box;
  width: 100%;

  margin-top: -90px;

  padding: 10rem 4rem 8rem;

  display: grid;
  grid-template-columns: 220px 1fr;
  gap: 7rem;

  background: #f2f0ef;

  border-radius: 32px 32px 0 0;

  position: relative;
  z-index: 10;
}

.intro-label {
  font-family: "tanker";
  font-size: 2rem;
  font-weight: 500;
  color: #6b6560;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

.intro-content {
  margin-left: 16rem;
}

.intro-content h2 {
  margin: 0;

  font-family: "Satoshi";

  font-size: clamp(2rem, 3.5vw, 3.5rem);
  font-weight: 700;
  line-height: 1.08;
  letter-spacing: -0.05em;
}

.intro-content h2:first-child {
  margin-bottom: 3rem;
}

.author {
  margin-top: 5rem;
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.author-img-wrapper {
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.author-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.author-img-wrapper:hover img {
  transform: scale(1.2);
}

.author-info {
  display: flex;
  align-items: center;
  padding-top: 4px;
}

.author-info span {
  font-family: "tanker";
  font-size: 1.5rem;
  font-weight: 200;
  letter-spacing: 0.1em;
  color: #6b6560;
}

.work-heading {
  grid-column: span 2;
  width: 100%;
  margin-top: 9.5rem;
}

.work-heading h1 {
  font-family: "Supreme";
  font-size: clamp(10rem, 30vw, 20rem);
  font-weight: 900;
  text-transform: uppercase;
  line-height: 0.9;
  letter-spacing: -0.08em;
  color: #111;
  margin: 0;
  margin-left: -3rem;
  white-space: nowrap;
}

.tags {
  margin-top: 1.8rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tags span {
  font-family: "Azeret Mono";
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.12em;
  color: #6b6560;
  font-weight: 400;
  padding-left: 8rem;
  padding-right: 8rem;
}
